fastapi
uvicorn[standard]
pymupdf
pdfplumber
langchain
langchain-text-splitters
sentence-transformers
rank-bm25
ollama
python-multipart
pydantic
python-dotenv
sqlalchemy
psycopg2-binary
pgvector
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
google-auth
email-validator
resend
pytesseract
pillow